			</div>

			<footer>
				<div class="logo">
					<img src="/images/logo.svg" alt="Logo">
				</div>
				<div class="info">
					<a href="/imprint">Imprint</a>
					<a href="/privacy">Privacy Policy</a>
					<span>&copy; <%- date(new Date(), 'YYYY') %> krmax44</span>
				</div>
			</footer>
		</div>
				
		<%- js('js/scripts.js') %>
	</body>
</html>