@import 'variables.scss';
@import 'prism.scss';

body {
  min-height: 100vh;
  background-color: $background;
  margin: 0;
  padding: 0;
  font-family: $assistant;
  font-weight: normal;
  font-size: 18px;
  color: $light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark;
  margin: 0;
}

p,
li {
  line-height: 1.5;
}

p {
  text-align: justify;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $accent;
}

.container {
  max-width: $container-max-width;
  width: 100%;
  margin: auto;
  flex: 1;
  padding: 5px;
}

@media (min-width: $breakpoint-md) {
  .container {
    padding: 10px;
  }
}

img {
  max-width: 100%;
}

.center {
  text-align: center;
}

hr {
  border: 0;
  height: 1px;
  width: 80%;
  margin: 40px auto;
  background-color: $opaque;
}

blockquote {
  margin: 0;
  padding-left: 10px;
  border-left: 3px $opaque solid;
}

code,
pre,
.highlight * {
  font-family: $fira;
}

code {
  display: inline-block;
  margin: 1px 5px;
  padding: 2px 5px;
  background-color: rgba(69, 146, 214, 0.1);
}

pre > code {
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
