$light: #4592d6;
$dark: #000;
$opaque: #4592d680;

$dark: #101216;
$light: lighten($dark, 10%);
$accent: rgb(89, 119, 255);
$opaque: transparentize($accent, 0.2);
$background: #eaedf1;

$league: Assistant, sans-serif;
$assistant: Assistant, Segoe UI, Roboto, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
$fira: Fira Mono, Consolas, monospace, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';

$breakpoint-sm: 600px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$container-max-width: 1100px;
